exclude: '^.md'
default_language_version:
    python: python3.10


repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.5.0"
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
-   repo: https://github.com/psf/black-pre-commit-mirror
    rev: "23.11.0"
    hooks:
      - id: black

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.1.6"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
