[tool.poetry]
name = "eztao"
version = "0.2.1"
description = "A toolkit for Active Galactic Nuclei (AGN) time-series analysis."
authors = ["Weixiang Yu <wy73@drexel.edu>"]
readme = "README.md"
license = "MIT"
repository = "https://github.com/ywx649999311/EzTao"
include = [
    "LICENSE",
]

[tool.poetry.dependencies]
python = "^3.7"
numpy = "^1.19.1"
celerite = "^0.4.0"
matplotlib = "^3.3.1"
scipy = "^1.5.2"
numba = "^0.51.2"

[tool.poetry.dev-dependencies]
importlib-metadata = {version = "^2.0.0", python = "<3.8"}
toml = "^0.10.1"
pytest = "^6.0.1"
pytest-cov = "^2.10.1"
joblib = "^0.17.0"
pandas = "^1.1.4"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
